
@{
    ViewData["Title"] = "Contact";
}

<div class="col-md-4 offset-4">

    <div class="block-23">
        <h3 class="text-center" style="margin-top: 40px;">Contact information</h3>
        <ul>
            <li><span class="icon ion-android-pin"></span><span class="text">Манаса, 34/1, Алматы</span></li>
            <li><a href="#"><span class="icon ion-ios-telephone"></span><span class="text">+7 (727) 330-85-60</span></a></li>
            <li><a href="#"><span class="icon ion-android-mail"></span><span class="text">info@iitu.kz</span></a></li>
            <li><span class="icon ion-android-time"></span><span class="text">Понедельник &mdash; Пятница 9:00 - 18:00</span></li>
        </ul>
    </div>
</div>
